@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Coffee Shop</h1>
</div>

<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Registration">Register Here</a>
